@{
    ViewBag.Title = "Добавление сотрудника";
}

<div>
    <h3>Добавление сотрудника</h3>
    <form method="post" action="">
        <table>
            <h4>Имя</h4>
            <input type="text" name="name" value="">
            <Br>
            <h4>Фамилия</h4>
            <input type="text" name="surname" value="">
            <Br>
            <h4>Отчество</h4>
            <input type="text" name="lastname" value="">
            <h4>Пол</h4>
            <input type="text" name="gender" value="">
            <h4>Дата</h4>
            <input type="text" name="date" value="">
            <Br>
            <Br>
            <tr><td><input type="submit" value="Добавить сотрудника" /> </td><td></td></tr>
        </table>
    </form>
</div>  
    