@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h3>Добавление занимание должности сотрудником</h3>
    <form method="post" action="">
        <table>
            <h4>Код сотрудинка</h4>
            <input type="text" name="idEmp" value="">
            <Br>
            <h4>Код должности</h4>
            <input type="text" name="idPost" value="">
            <Br>
            <h4>Ставка</h4>
            <input type="text" name="WageRate" value="">
            <Br>
            <h4>Статус</h4>
            <input type="text" name="Status" value="">
            <Br>
            <h4>Дата принятия на работу</h4>
            <input type="text" name="dateTake" value="">
            <Br>
            <h4>Дата уволнения с работы</h4>
            <input type="text" name="dateLeave" value="">
            <Br>
            <h4>Цена</h4>
            <input type="text" name="Price" value="">
            <Br>
            <h4>Описание</h4>
            <input type="text" name="Desc" value="">
            <h4>Месяц</h4>
            <input type="text" name="MonthOfSalary" value="">
            <Br>
            <h4>Год</h4>
            <input type="text" name="YearOfSalary" value="">
            <Br>
            <Br>
            <tr><td><input type="submit" value="Добавить сотрудника" /> </td><td></td></tr>
        </table>
    </form>
</div>
