@{
    ViewBag.Title = "Добавить должность";
}

<div>
    <h3>Добавление сотрудника</h3>
    <form method="post" action="">
        <table>
            <h4>Название должности</h4>
            <input type="text" name="name" value="">
            <Br>
            <h4>Цена</h4>
            <input type="text" name="price" value="">
            <Br>
            <Br>
            <tr><td><input type="submit" value="Добавить сотрудника" /> </td><td></td></tr>
        </table>
    </form>
</div>